.container{
    background-color: aqua;
    display: flex;
}
.box{
    height: 200px;
    width: 200px;
    background-color: red;
    color: aqua;
    margin: 30px;
}

/* @media (max-width: 500px){
    .container{
        background-color: blue;
        height: 200px;
        width: 200px;
        border-radius: 20px;
    }
} */
/* Mobile responsive */
@media (max-width:600px){
    .container{
        flex-direction: column;
    }
}

/* Tablet responsive */

@media(min-width:601px) and(max-width:900px){
    .container{
        flex-direction: column;
    }
}